@using sistickets.Models
@model TicketCLS
@{
    ViewBag.Title = "Guardar";
    List<SelectListItem> listaEmpresas = (List<SelectListItem>)ViewBag.listaEmpresas;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1 class="animated lightSpeedIn">DOTECH <small>Monterrey</small></h1>
                <span class="label label-danger">Dotech S.A de C.V</span>
                <p class="pull-right text-primary">
                    <strong>
                        @DateTime.Now.ToString("dddd d 'de' MMMM 'del' yyyy")
                    </strong>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row well">
        <div class="col-sm-3">
            <img src="~/img/ticket.png" class="img-responsive" alt="Image">
        </div>
        <div class="col-sm-9 lead">
            <h2 class="text-info">¿Cómo abrir un nuevo Ticket?</h2>
            <p>Para abrir un nuevo ticket deberá de llenar todos los campos de el siguiente formulario. Usted podra verificar el estado de su ticket mediante el <strong>Ticket ID</strong> que se le proporcionara a usted cuando llene y nos envie el siguiente formulario.</p>
        </div>
    </div><!--fin row 1-->

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title text-center"><strong><i class="fa fa-ticket"></i>&nbsp;&nbsp;&nbsp;Ticket</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <br><br><br>
                            <img src="img/write_email.png" alt=""><br><br>
                            <p class="text-primary text-justify">Por favor llene todos los datos de este formulario para abrir su ticket. El <strong>Ticket ID</strong> será enviado a la dirección de correo electronico proporcionada en este formulario.</p>
                        </div>
                        <div class="col-sm-8">
                            @using (Html.BeginForm("Guardar", "Ticket", FormMethod.Post, new { @id = "frmGuardar", @class = "form-horizontal" }))
                            {
                                <fieldset>

                                    <div class="form-group">
                                        @Html.LabelFor(p => p.nombre_usuario, new { @class = "col-sm-2 control-label" })
                                        <div class='col-sm-10'>
                                            <div class="input-group">
                                                @Html.TextBoxFor(p => p.nombre_usuario, new { @class = "form-control", @placeholder = "Nombre y Apellidos" })
                                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            </div>
                                            @Html.ValidationMessage("nombre_usuario", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(p => p.email_cliente, new { @class = "col-sm-2 control-label" })
                                        <div class='col-sm-10'>
                                            <div class="input-group">
                                                @Html.TextBoxFor(p => p.email_cliente, new { @class = "form-control", @placeholder = "Correo" })
                                                <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                            </div>
                                            @Html.ValidationMessage("email_cliente", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(p => p.departamento, new { @class = "col-sm-2 control-label" })
                                        <div class='col-sm-10'>
                                            <div class="input-group">
                                                @Html.DropDownListFor(p => p.departamento, new SelectList(Enum.GetValues(typeof(Departamento))),
                                                 "-----SELECCIONAR-----", new { @class = "form-control", @id = "combo_departamento" })
                                                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                                            </div>
                                            @Html.ValidationMessage("departamento", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(p => p.nombreEmpresa, new { @class = "col-sm-2 control-label" })
                                        <div class="col-sm-10">
                                            <div class='input-group'>
                                                @Html.DropDownList("idEmpresa", listaEmpresas, null, new
                                                {
                                                    @class = "form-control",
                                               @id = "combo_empresa",
                                                    @name = "empresa_ticket",
                                                    @disabled = true,
                                                    @required = false
                                                })
                                                <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(p => p.asunto, new { @class = "col-sm-2 control-label" })
                                        <div class='col-sm-10'>
                                            <div class="input-group">
                                                @Html.TextBoxFor(p => p.asunto, new { @class = "form-control", @placeholder = "Asunto" })
                                                <span class="input-group-addon"><i class="fa fa-paperclip"></i></span>
                                            </div>
                                            @Html.ValidationMessage("asunto", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(p => p.mensaje, new { @class = "col-sm-2 control-label" })
                                        <div class='col-sm-10'>
                                            <div class="input-group">
                                                @Html.TextAreaFor(p => p.mensaje, new { @class = "form-control", @placeholder = "Escriba el problema con su servicio" })
                                                @Html.ValidationMessage("mensaje", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Abrir ticket</button>
                                            <button type="button" class="btn btn-danger" onclick="limpiar()">
                                                Limpiar <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.Alert != null)
{
    <script>
    alert("@ViewBag.Alert");
    </script>
}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea guardar los cambios?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="padding:1em">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="guardar()" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).on('change', '#combo_departamento', function (event) {
        if ($("#combo_departamento option:selected").text() == "Empresa") {
            $('#combo_empresa').removeAttr('disabled');
        }
    });

    function limpiar() {
        var controles = document.getElementsByClassName("form-control");
        var control;
        for (var i = 0; i < controles.length; i++) {
            control = controles[i];
            control.value = "";
        }
    }
    function guardar() {
        var frmGuardar = document.getElementById("frmGuardar");
        frmGuardar.submit();
    }

</script>